.example-card {
  width: fit-content;
  min-width: 20rem;
}

::ng-deep .mdc-circular-progress__spinner-layer circle,
.mdc-circular-progress__spinner-layer circle {
  stroke: #3f51b5!important;
}

.cargando {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-full-width-user {
  width: 100%;
}

.data {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin-top: 3rem;

  .campo-editable {
    display: flex;
    justify-content: space-between;

    .mat-mdc-form-field {
      width: 100%;
    }
  }
}

mat-card-header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  mat-icon {
    transform: scale(3);
    cursor: pointer;
  }
  img {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
  }
}

mat-select {
  width: 100%;
}

.btn-contrasenia {
  width: 100%;
  margin-bottom: 1.5rem;
}