@if (cargando()) {
    <div class="loader-section">
        <div class="loader">
        </div>
    </div>
}


<div class="animate__animated animate__fadeIn page-content layout">
    <div class="layout__navbar">
        <app-navbar (sendData)="goTo($event)" />
    </div>

    <div class="layout__body" #layoutBody>
        <app-header />
        <div #servicios>
            <app-linea-section />
        </div>
        <app-instalaciones />
        <app-beneficios />
        <div #grua>
            <app-gruas />
        </div>
        <app-politicas />
        <app-numbers (cargandoEvent)="isLoading($event)" />
        <app-empresas />
        <div #contacto>
            <app-contacto (cargandoEvent)="isLoading($event)" />
        </div>
    </div>

    <div class="layout__footer">
        <app-footer />
    </div>
</div>