.beneficios {
  padding: 6.375rem 8.125rem 9.625rem 8.125rem;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 4.375rem 5.125rem 7.625rem 5.125rem;
  }

  @media (max-width: 400px) {
    padding: 3.5rem 2.5rem 7.625rem 2.5rem;
  }


  &__text {
    overflow: hidden;
    color: #333;
    font-variant-numeric: lining-nums proportional-nums;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Quicksand;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.999rem;
    /* 133.3% */
    letter-spacing: -0.06rem;

    margin-bottom: 4.5rem;

    @media (max-width: 1365px) {
      white-space: wrap;
    }

    @media (max-width: 1100px) {
      font-size: 2.5rem;
    }
  }

  &__cards {
    display: flex;
    filter: drop-shadow(0px 8px 60px rgba(0, 0, 0, 0.08));


    swiper-container {
      width: 100%;
    }

    .card {
      padding: 2rem;
      width: 25rem;
      display: flex;
      flex-direction: column;
      border-radius: 1.5rem;
      background: #FFF;
      transition: background .2s;

      opacity: 0;
      transform: translateX(20rem);

      &:not(:last-of-type) {
        margin-right: 1rem;
      }

      &:hover {
        background: #F2FEFF;
      }

      .icon {
        margin-bottom: 2rem;

        img {
          width: 4.5rem;
          height: 4.5rem;
        }
      }

      .title {
        margin-bottom: 1.5rem;

        p {
          color: #333;
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Quicksand;
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.6875rem;
          /* 134.375% */
        }
      }

      .text {
          color:  #666;
          font-family: Poppins;
          font-size: .875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5rem;
          /* 171.429% */
          ::ng-deep ul {
            margin-left: 1rem; // ajustá este valor a gusto
          }
      }
    }
  }
}

swiper-slide {
  display: flex;
  justify-content: center;
}
