.linea-section {
  padding: 7.8125rem 12.5rem 6.25rem 12.5rem;

  @media (max-width: 1360px) {
    padding: 7.8125rem 8.5rem 6.25rem 8.5rem;
  }

  @media (max-width: 1210px) {
    padding: 5.8125rem 6.5rem 5.25rem 6.5rem;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: end;

    @media (max-width: 880px) {
      flex-wrap: wrap;
    }

    .title {
      color: #000;
      font-family: Quicksand;
      font-size: 3.75rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -1.2px;

      @media (max-width: 1110px) {
        font-size: 2.75rem;
      }

      @media (max-width: 990px) {
        font-size: 2rem;
      }

      span {
        color: #009CA7;
      }
    }

    .subtitle {
      color: #000;
      font-family: Lato;
      font-size: 1.5625rem;
      font-style: normal;
      font-weight: 400;

      max-width: 24.5rem;

      @media (max-width: 1110px) {
        font-size: 1.2rem;
      }

      @media (max-width: 880px) {
        margin-left: 1rem;
      }

      span {
        font-weight: 700;
      }
    }

    .certification {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;

      p {
        color: #000;
        font-family: Quicksand;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        text-align: end;
      }

      @media (max-width: 880px) {
        margin-left: auto;
        margin-top: .5rem;
      }

      img {
        width: 12.5rem;

        @media (max-width: 1200px) {
          width: 7.5rem;
        }

      }
    }
  }

  &__video {
    margin: 3.75rem 0;
    width: fit-content;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__services {
    padding: 6.25rem 9.375rem 0 9.375rem;

    display: flex;

    @media (max-width: 1550px) {
      padding: 5.25rem 6.375rem 0 6.375rem;
    }

    @media (max-width: 1470px) {
      padding: 1.25rem 2rem 0 2rem;
    }

    @media (max-width: 1260px) {
      padding: 1.25rem 0rem 0 0rem;
    }

    .info-principal {
      display: flex;
      flex-direction: column;
      margin-right: 3rem;
      width: 17.6875rem;


      .intro {
        color: #FFF;
        font-family: Roboto;
        font-size: 1.125rem;
        font-style: normal;
        padding: .25rem 1.5rem;
        background-color: #043A53;
        border-radius: 6.25rem;
        margin-bottom: 2rem;
        width: fit-content;

        span {
          text-decoration: underline;
          font-weight: 700;
        }
      }

      .title {
        color: #12141D;
        font-family: Quicksand;
        font-size: 4.0625rem;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.0813rem;
        margin-bottom: 2rem;
      }

      .subtitle {
        color: #6B7280;
        font-family: Poppins;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: -0.0338rem;
      }
    }

    .cards {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(17.6875rem, 1fr));
      gap: 1rem;
      justify-items: center;

      .card-servicio {
        border-radius: 1rem;
        background: #F2F5F6;
        padding: 2rem 1.5rem;
        width: 17.6875rem;
        min-height: 27.5rem;

        opacity: 0;

        .image {
          margin-bottom: .625rem;

          img {
            height: 5.1875rem;
            width: auto;
          }
        }

        .title {
          color: #12141d;
          font-family: Lato;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2rem;
          margin-bottom: .625rem;
        }

        .text {
          overflow: hidden;
          color: #404040;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: Roboto;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.75rem;

          p {
            white-space: normal;
          }
        }


      }
    }
  }
}

.d-desktop {
  display: grid !important;

  @media (max-width: 1140px) {
    display: none !important;
  }
}

.d-mobile {
  display: none !important;

  @media (max-width: 1140px) {
    display: block !important;
    max-width: 54rem;
  }
  @media (max-width: 1050px) {
    max-width: 70%;
  }
}

swiper-slide {
  display: flex;
  justify-content: center;
}