<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-toolbar (toggle)="snav.toggle()" />

  <mat-sidenav-container class="example-sidenav-container side-nav" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        @for (item of fillerNav; track $index) {
        <a mat-list-item routerLinkActive="active-class" class="item-nav"
          [routerLink]="item.route">{{item.title}}<mat-icon style="margin-left: 1.5rem;">{{item.icon}}</mat-icon></a>
        }
      </mat-nav-list>
      <div class="img-box">
        <img class="dvl-logo" src="assets/imgs/ta-logo.svg" alt="dvl-logo">
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>