.navbar {
  color: #FFF;
  font-family: Raleway;
  font-size: 1.375rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  padding: 3.625rem 11.25rem;

  @media (max-width: 1360px) {
    padding: 3.625rem 7rem;
  }

  @media (max-width: 1010px) {
    display: none;
  }

  a {
    text-decoration: none;
    color: unset;
  }

  &__logo {
    img {
      width: 7.419rem;
    }
  }

  &__items {
    ul {
      display: flex;
      list-style: none;

      li {
        a {
          cursor: pointer;
        }

        &:not(:last-of-type) {
          margin-right: 3.125rem;
        }
      }
    }
  }

  &__trabaja {
    display: flex;
    cursor: pointer;

    .trabaja {
      font-weight: bold;
      text-decoration: underline;

    }

    img {
      margin-right: .25rem;
    }
  }

  &__redes {
    a {

      img {
        width: 1.4375rem;
      }

      &:not(:last-of-type) {
        margin-right: 2.3125rem;
      }

    }
  }
}

.navbar-responsive {
  background-color: var(--color-primary);
  display: none;

  @media (max-width: 1010px) {
    display: block;
  }

  &__top {
    display: flex;
    padding: 1.5rem 0;
    align-items: center;
    justify-content: space-between;

    img {
      height: 3rem;
      margin-left: 4.5rem;

      @media (max-width: 630px) {
        height: 2.5rem;
      }

      @media (max-width: 400px) {
        margin-left: 2.5rem;
      }
    }


    &__expand {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
    }
  }

  &__trabaja {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    cursor: pointer;
    .trabaja {
      color: white;
      font-weight: bold;
      text-decoration: underline;
      font-size: 1.8rem;

    }

    img {
      margin-right: .25rem;
      width: 1.375rem;
      height: 1.3125rem;
      transform: scale(1.4);
    }
  }

  &__body {
    visibility: hidden;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    position: relative;

    ul {
      margin-bottom: 0;
      margin-top: -2rem;

      li {
        display: flex;
        cursor: pointer;
        list-style: none;
        font-size: 2rem;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }
    }

    .navbar-responsive-redes {
      margin-top: 10rem;

      img {
        width: 2.5rem;
      }
    }
  }

  .expanded {
    height: 95vh;
    visibility: visible;
  }



  .btn {
    cursor: pointer;
    margin-right: 4.5rem;

    @media (max-width: 400px) {
      margin-right: 2.5rem;
    }
  }

  .icon-bar {
    width: 22px;
    height: 2px;
    background: white;
    margin: 3px;
    position: relative;
  }
}